{# 
 $Project: Ka Extensions $
 $Author: karapuz team <support@ka-station.com> $
 $Version: 4.1.0.26 $ ($Revision: 245 $) 
#}

{% if (top_messages is not empty) %} 
  {% for top_message in top_messages %} 
    {% if (top_message['type'] == 'E') %} 
	    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
    {% else %} 
  	  <div class="alert alert-success"><i class="fa fa-check-circle"></i>
    {% endif %} 
   	{{ top_message['content'] }} 
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>    	
  {% endfor %} 
{% endif %}